/* Общие стили страницы */
html, body {
    min-height: 100vh; /* Устанавливаем высоту на 100% для html и body */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем поля */
    display: flex; /* Включаем флексбокс */
    flex-direction: column; /* Направление колонки */
}

/* Стиль для основного контента, чтобы футер оставался внизу */
.main-content {
     /* Занимает доступное пространство, кроме футера */
    width: 100%; /* Ширина на всю страницу */
}

/* Общие стили футера */

/* Стиль для ссылок в футере */
.footer-a {
    font-size: 20px;
    text-decoration: none;
    margin: 10px 100px;
    color: #3ba5f5;
    font-weight: 550;
    width: 300px;
    height: 100%;
}

.footer-a:hover {
    color: #f58b3b;
}









