<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Магазин экстремальной спортивной экипировки</title>
    {% include 'menu.html' %}
</head>
<body>
    <div class="main-banner">
        <h1>О нас</h1>
    </div>
    <div class="container">
        <section>
            <h2>Наша история</h2>
            <p>Зарождение нашего магазина началось с страсти к экстремальным видам спорта...</p>
        </section>
        <section>
            <h2>Миссия и ценности</h2>
            <p>Мы стремимся сделать экстремальный спорт доступным для каждого...</p>
        </section>
        <section>
            <h2>Что мы предлагаем</h2>
            <section>
                <li>Широкий ассортимент экипировки...</li>
                <li>Индивидуальные консультации...</li>
            </section>
        </section>
        <section>
            <h2>Отзывы наших клиентов</h2>
            <blockquote>
                «Здесь я нашел все необходимое для своих приключений...» - Иван Г.
            </blockquote>
            <blockquote>
                «Благодаря магазину, я безопасно освоила новые виды спорта...» - Мария Р.
            </blockquote>
        </section>

    </div>
</body>
</html>
