<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/static/css/index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Grtsk Peta:wght@400;500;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="main">
    		<img class="main-child" alt="" src="Rectangle 35.png">
    		
    		<div class="footer">
      			<img class="footer-child" alt="" src="Group 55.svg">
      			
      			<img class="vector-icon" alt="" src="Vector.svg">
      			
      			<div class="div">
        				<p class="p">Бесплатная горячая линия</p>
        				<p class="p">Ежедневно с 9 до 21</p>
      			</div>
      			<div class="infobrdru">info@brd.ru</div>
      			<img class="vector-icon1" alt="" src="Vector.svg">
      			
      			<div class="div1">8 (800) 511-74-68 </div>
      			<div class="email">Контактный Email</div>
      			<div class="footer-item">
      			</div>
      			<div class="footer-inner">
      			</div>
      			<img class="group-icon" alt="" src="Group 1033.png">
      			
      			<img class="footer-child1" alt="" src="Group 1032.png">
      			
      			<img class="footer-child2" alt="" src="Group 1036.png">
      			
      			<div class="div2">Доступ к ранним релизам в приложении </div>
      			<div class="div3">Контакты</div>
      			<img class="footer-child3" alt="" src="Group 1024.svg">
      			
      			<div class="div4">Помощь</div>
      			<div class="div5">Доставка</div>
      			<div class="div6">Оплата</div>
      			<div class="div7">Возврат</div>
      			<div class="div8">Отзывы (2290)</div>
      			<div class="div9">Акции и скидки</div>
      			<div class="brdru">© 2020 Brd.ru. Все права защищены</div>
      			<div class="div10">Компания</div>
      			<div class="div11">Контакты</div>
      			<div class="boardriders">О boardriders</div>
      			<div class="div12">Вакансии</div>
      			<div class="div13">Публичная оферта</div>
      			<div class="boardriders-inc">Boardriders Inc.</div>
      			<div class="div14">Франчайзинг</div>
      			<div class="quiksilver">Quiksilver</div>
      			<div class="roxy">Roxy</div>
      			<div class="dc-shoes">DC Shoes</div>
      			<div class="boardriders-club">Boardriders Club</div>
      			<div class="rectangle-div">
      			</div>
      			<img class="vector-icon2" alt="" src="Vector.svg">
      			
      			<img class="vector-icon3" alt="" src="Vector.svg">
      			
      			<div class="div15">
        				<span class="span">Подпишись на рассылку и получи  </span>
        				<span class="span1">-10%</span>
        				<span class="span">  скидку</span>
      			</div>
      			<img class="footer-child4" alt="" src="Group 1035.svg">
      			
      			<img class="image-27-icon" alt="" src="image 27.png">
      			
    		</div>
    		<img class="main-item" alt="" src="Rectangle 12.png">
    		
    		<div class="main-inner">
    		</div>
    		<div class="main-child1">
    		</div>
    		<b class="winter-sale">WINTER SALE ДО -70%</b>
    		<div class="main-child2">
    		</div>
    		<img class="rectangle-icon" alt="" src="Rectangle 63.png">
    		
    		<div class="image-13-parent">
      			<img class="image-13-icon" alt="" src="image 13.png">
      			
      			<img class="image-14-icon" alt="" src="image 14.png">
      			
      			<img class="image-15-icon" alt="" src="image 15.png">
      			
      			<img class="image-16-icon" alt="" src="image 16.png">
      			
      			<img class="image-20-icon" alt="" src="image 20.png">
      			
      			<img class="image-21-icon" alt="" src="image 21.png">
      			
      			<img class="image-17-icon" alt="" src="image 17.png">
      			
      			<img class="image-18-icon" alt="" src="image 18.png">
      			
      			<img class="image-19-icon" alt="" src="image 19.png">
      			
      			<img class="image-22-icon" alt="" src="image 22.png">
      			
    		</div>
    		<div class="group-div">
      			<div class="rectangle-parent">
        				<img class="group-child" alt="" src="Rectangle 58.png">
        				
        				<img class="group-item" alt="" src="Rectangle 65.png">
        				
        				<div class="group-inner">
        				</div>
        				<div class="group-child1">
        				</div>
        				<b class="b">НАЗВАНИЕ АКЦИИ №1</b>
        				<b class="b1">НАЗВАНИЕ АКЦИИ №2</b>
      			</div>
    		</div>
    		<div class="main-child3">
    		</div>
    		<b class="winter-sale1">WINTER SALE ДО -70%</b>
    		<div class="main-child4">
    		</div>
    		<img class="main-child5" alt="" src="Rectangle 25.png">
    		
    		<div class="main-child6">
    		</div>
    		<b class="lib-tech">LIB TECH</b>
    		<div class="rectangle-group">
      			<div class="group-child2">
      			</div>
      			<img class="group-icon1" alt="" src="Group.svg">
      			
    		</div>
    		<div class="main-child7">
    		</div>
    		<img class="main-child8" alt="" src="Rectangle 28.png">
    		
    		<div class="rectangle-container">
      			<div class="group-child3">
      			</div>
      			<img class="group-icon2" alt="" src="Group.png">
      			
    		</div>
    		<img class="group-icon3" alt="" src="Group.svg">
    		
    		<img class="group-icon4" alt="" src="Group.png">
    		
    		<img class="main-child9" alt="" src="Rectangle 19.png">
    		
    		<div class="div16">Меня не спрашивали, а надо было спросить, что означает имя Заратустры именно в моих устах — в устах первого имморалиста: ведь то, в чём состоит неслыханная уникальность этого перса в истории, являет собою противоположность как раз этому. </div>
    		<div class="div17">Название Акции</div>
    		<img class="main-child10" alt="" src="Group 2.png">
    		
    		<b class="dc-shoes1">DC Shoes популярное в коллекции</b>
    		<img class="group-icon5" alt="" src="Group.svg">
    		
    		<img class="group-icon6" alt="" src="Group.png">
    		
    		<div class="div18">Блоги</div>
    		<b class="b2">Очень преочень длинное название блога</b>
    		<div class="div19">Меня не спрашивали, а надо было спросить, что означает имя Заратустры именно в моих устах — в устах первого имморалиста: ведь то, в чём состоит неслыханная уникальность этого перса в истории, являет собою противоположность как раз этому. </div>
    		<div class="div20">Читать продолжение</div>
    		<div class="div21">Меня не спрашивали, а надо было спросить, что означает имя Заратустры именно в моих устах — в устах первого имморалиста: ведь то, в чём состоит неслыханная уникальность этого перса в истории, являет собою противоположность как раз этому...</div>
    		<img class="vector-icon4" alt="" src="Vector.svg">
    		
    		<img class="main-child11" alt="" src="Rectangle 67.png">
    		
    		<img class="main-child12" alt="" src="Group 12.svg">
    		
    		<img class="main-child13" alt="" src="Group 13.svg">
    		
    		<div class="main-child14">
    		</div>
    		<img class="vector-icon5" alt="" src="Vector.svg">
    		
    		<div class="main-child15">
    		</div>
    		<img class="vector-icon6" alt="" src="Vector.svg">
    		
    		<img class="main-child16" alt="" src="Group 14.svg">
    		
    		<b class="b3">Программа лояльности</b>
    		<b class="b4">Скидка -10%</b>
    		<div class="div22">Зарабатывайте баллы и получайте преимущества</div>
    		<div class="div23">За подписку на наши новости</div>
    		<div class="group-parent">
      			<div class="rectangle-parent1">
        				<div class="group-child4">
        				</div>
        				<div class="email1">Email</div>
      			</div>
      			<img class="vector-icon7" alt="" src="Vector.svg">
      			
      			<img class="vector-icon8" alt="" src="Vector.svg">
      			
    		</div>
    		<img class="vector-icon9" alt="" src="Vector.svg">
    		
    		<img class="image-23-icon" alt="" src="image 23.png">
    		
    		<div class="line-div">
    		</div>
    		<b class="b5">Новинки</b>
    		<div class="web-normal-item">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Active.svg">
      			
    		</div>
    		<div class="web-sales-item">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon1" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<div class="div28">17392 ₽</div>
      			<div class="web-sales-item-item">
      			</div>
      			<div class="div29">-50%</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Normal.svg">
      			
      			<div class="web-sales-item-inner">
      			</div>
    		</div>
    		<div class="parent">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Normal.svg">
      			
    		</div>
    		<div class="group">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Normal.svg">
      			
    		</div>
    		<div class="container">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Normal.svg">
      			
    		</div>
    		<div class="parent1">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Normal.svg">
      			
    		</div>
    		<div class="web-sales-item1">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon1" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<div class="div28">17392 ₽</div>
      			<div class="web-sales-item-item">
      			</div>
      			<div class="div29">-50%</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Normal.svg">
      			
      			<div class="web-sales-item-inner">
      			</div>
    		</div>
    		<div class="web-sales-item2">
      			<div class="div24">Мужской Сноуборд</div>
      			<div class="web-normal-item-child">
      			</div>
      			<img class="image-9-icon1" alt="" src="image 9.png">
      			
      			<div class="lib-tech1">LIB TECH</div>
      			<div class="div25">34392 ₽</div>
      			<div class="div28">17392 ₽</div>
      			<div class="web-sales-item-item">
      			</div>
      			<div class="div29">-50%</div>
      			<img class="favourites-active-icon" alt="" src="Favourites Normal.svg">
      			
      			<div class="web-sales-item-inner">
      			</div>
    		</div>
    		<div class="div46">Все блоги</div>
    		<img class="vector-icon10" alt="" src="Vector.svg">
    		
    		<div class="menus">
      			<div class="menus-child">
      			</div>
      			<div class="menus-item">
      			</div>
      			<div class="menus-inner">
      			</div>
      			<div class="parent2">
        				<div class="div47">Мужчинам</div>
        				<div class="div48">Женщинам</div>
        				<div class="div49">Детям</div>
      			</div>
      			<div class="menus-child1">
      			</div>
      			<div class="div50">Ваш регион доставки:   Москва</div>
      			<div class="div51">Бесплатная доставка *</div>
      			<div class="div52">Возврат в течение 14 дней</div>
      			<div class="div53">Оплата при получении</div>
      			<img class="menus-child2" alt="" src="Group 5.png">
      			
      			<img class="vector-icon11" alt="" src="Vector.svg">
      			
      			<img class="vector-icon12" alt="" src="Vector.svg">
      			
      			<div class="parent3">
        				<div class="div54">Магазины</div>
        				<div class="div55">Помощь</div>
        				<div class="div56">Блоги</div>
      			</div>
      			<div class="vector-parent">
        				<img class="vector-icon13" alt="" src="Vector.svg">
        				
        				<div class="div57">ВОЙТИ</div>
      			</div>
      			<div class="vector-group">
        				<img class="vector-icon14" alt="" src="Vector.svg">
        				
        				<div class="div58">Избранное</div>
      			</div>
      			<div class="group-container">
        				<img class="group-child5" alt="" src="Group 6.svg">
        				
        				<div class="div57">Корзина</div>
      			</div>
      			<div class="vector-container">
        				<img class="vector-icon15" alt="" src="Vector.svg">
        				
        				<div class="div57">ПОИСК</div>
      			</div>
      			<img class="vector-icon16" alt="" src="Vector.svg">
      			
      			<img class="vector-icon17" alt="" src="Vector.svg">
      			
      			<div class="parent4">
        				<div class="div61">Новинки</div>
        				<div class="div62">Сноуборд</div>
        				<div class="div63">Лыжи</div>
        				<div class="div64">Скейт</div>
        				<div class="div65">Лонгборд</div>
        				<div class="div66">Вейкборд</div>
        				<div class="div67">Серф</div>
        				<div class="sup">Sup</div>
        				<div class="div68">Одежда</div>
        				<div class="div69">Обувь</div>
        				<div class="div70">Аксессуары</div>
        				<div class="div71">Бренды</div>
        				<div class="div72">Распродажа</div>
      			</div>
    		</div>
    		<div class="bttn-black">
      			<div class="bttn-black-child">
      			</div>
      			<div class="div73">Показать больше</div>
    		</div>
    		<div class="bttn-black1">
      			<div class="bttn-black-child">
      			</div>
      			<div class="div73">Показать больше</div>
    		</div>
    		<div class="bttn-black2">
      			<div class="bttn-black-inner">
      			</div>
      			<div class="div75">Вступить в клуб</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>