<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <h1>Изменение пароля</h1>

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="change_password">Изменить</button>
        <a href="javascript:history.back()" class="back_link">Назад</a>
    </form>
</body>
</html>