<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг продавцов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rating_of_sellers.css' %}">
    {% include 'menu.html' %}
</head>
<body>

<div class="rating-table-container">
    <h2>Рейтинг продавцов</h2>
    <table id="ratingTable">
        <thead>
        <tr>
            <th>Место</th>
            <th>Имя продавца</th>
            <th>Рейтинг</th>
            <th>Количество оценок</th>
        </tr>
        </thead>
        <tbody>
        {% for seller in sellers %}
        <tr>
            <td></td>
            <td>{{ seller.username }}</td>
            <td>{{ seller.rating }}</td>
            <td>{{ seller.votes }}</td>
        </tr>
        {% endfor %}
        <!-- Добавьте других продавцов по аналогии -->
        </tbody>
    </table>
</div>
{% include 'footer.html' %}
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var table = document.getElementById('ratingTable');
        var rows = Array.from(table.getElementsByTagName('tbody')[0].getElementsByTagName('tr'));

        // Сортируем строки по убыванию рейтинга
        rows.sort(function(rowA, rowB) {
            var ratingA = parseFloat(rowA.getElementsByTagName('td')[2].textContent);
            var ratingB = parseFloat(rowB.getElementsByTagName('td')[2].textContent);
            return ratingB - ratingA;
        });

        // Устанавливаем номера мест и переупорядочиваем строки
        for (var i = 0; i < rows.length; i++) {
            var cell = rows[i].getElementsByTagName('td')[0];
            cell.textContent = i + 1;
            table.getElementsByTagName('tbody')[0].appendChild(rows[i]);
        }
    });
</script>

</body>
</html>
