<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты разработчика</title>
    {% include 'menu.html' %}
</head>
<body>
    

    <div class="container">
        <h1>Контакты для связи</h1>
            <section>
                <li>Имя: Ефремов Иван</li>
            </section>
            <section>
                <li>Email: <a href="mailto:ivan.ivanov@example.com">ivanefrmov@gmail.com</a></li>
            </section>
            <section>
                <li>Телефон: <a href="tel:+79991234567">+7 (926) 208-31-25</a></li>
            </section>
            <section>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/ivanivanov" target="_blank">Профиль LinkedIn</a>
            </section>
    </div>
    {% include 'footer.html' %}
</body>


</html>